<template>
  <div class="home">
    <Login v-if="formulario=='login'" msg="Welcome to Your Vue.js App"/>
    <User v-if="formulario=='user'" msg="Welcome to Your Vue.js App"/>
    <hr>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Login.vue'
import User from '@/components/User.vue'

export default {
  name: 'Formulario',
  components: {
    Login, User
  },
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      formulario: false
    }
  },
  mounted() {
    console.log('Aqui ta', this.$route.params.formulario)
    if(this.$route.params.formulario) {
      this.formulario = this.$route.params.formulario
    }
  }
}

</script>
