<template>
  <div class="hello">
    {{ nombre }} {{ apellido }}
    <hr>
    <button @click="ver(1)">User 1</button><br>
    <button @click="ver(2)">User 2</button><br>
    <button @click="ver(3)">User 3</button>  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'User',
  props: {
    msg: String
  },
  data() {
    return {
      nombre: '',
      apellido: '',
    }
  },
  methods: {
    async ver(usr){
      console.log('Aqui ta')
    axios.get('http://localhost:5001/'+usr).then(res=>{
      alert(res.data.nombre + ' ' + res.data.apellido)
    }).catch(err=>{
      console.log(err)
    })
    }  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
